html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  background-color: #1c1c1c;
  padding: 10px;
  border-radius: 20px;
}

#screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 120px;
  width: 100%;
  background-color: #1c1c1c;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 20px;
}

#screen .operationScreen {
  height: 30px;
  width: 100%;
  font-size: 24px;
}

#screen .resultScreen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
  font-size: 40px;
  font-weight: bold;
  direction: ltr;
}


#screen .operationScreen,
.resultScreen {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 10px;
}
#screen .operationScreen, .resultScreen{ 
  max-width: 300px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow:ellipsis; 
  text-align: right;
  margin: 0 5px;
}



#button {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px 80px;
  column-gap: 10px;
  row-gap: 10px;
}

#button button {
  border-radius: 50px;
  border: none;
  font-size: 30px;
   transition: background-color 0.3s ease, filter 0.3s ease;
}

#button .btn-number {
  background-color: #505050;
  color: white;
}

#button button:hover {
 filter:brightness(1.4); 
}

#button .btn-oper {
  color: white;
  background-color: #ff9500;
}

#button .zero {
  grid-column: span 2;
}

